.special {
    background-color: #f3af50 !important;
    border: dashed 5px #bf7a0b !important;
}

.pookie {
    background-color:#2c6a47 !important;
    border: dashed 5px #584a3d !important;
    font-weight: bold;
}